[2020-11-13 09:10] dseeker commented on #372
having the same problem with 3.2.2

[2020-11-14 02:18] shadow81627 commented on #396
Duplicate of #381

[2020-11-17 15:29] AdamBD opened #397 "Question - How is the servicerworker supposed to work with offline routes?"
Hello,

I am new to PWA and trying to learn this module.

If I have a nuxt app which is statically generated, what is the default offline route behavior supposed to be with the serviceworker? When I go into airplane mode and load the site nothing loads. Is this default or should the various pages be cached and delivered while the device is offline?

[2020-11-20 14:03] Atinux opened #398 "[icon] Handle `icon.svg`"
It would be nice to also support `static/icon.svg` is available, I think we could use [sharp](https://github.com/lovell/sharp) for transformation.

[code]

[2020-11-21 08:37] pi0 commented on #398
Actually we use jimp-lite for PWA module to reduce installation requirements. Supporting sharp if installed could be nice feature since this way we may also optimize and reduce size as well.

[2020-11-21 10:41] Anima-t3d commented on #381
Seems to be caused when trying to fix this issue: https://github.com/nuxt-community/pwa-module/issues/372

[2020-11-21 11:14] Anima-t3d commented on #381
I used this code on the loading screen as a workaround (unregister service worker and hard reload to use new serviceWorker):

[code]

`setLoadingMessage()` just updates the UI.

[2020-11-22 11:02] Divlo commented on #375
Still no way to fix it?

[2020-11-23 00:16] jhull opened #399 "Splashscreen Support"
Am I correct in understanding that there is no current module/support for splash screens? Currently, I'm doing this:

[code]

in my `nuxt.config.js`

[2020-11-24 14:47] RubenVanEldik commented on #399
Hi Jhull,

There is support for automatic iOS splash screens since October (https://github.com/nuxt-community/pwa-module/pull/308).

I just looked at the PR and it seems that the PR uses the standard icon to create a splash screen. This could work by creating a very large icon, but this doesn't work if you want to have a different splash screen or if your icon size is less than the size of the spl

[2020-11-24 15:45] RubenVanEldik commented on #399
I have looked into it, but I'm not sure if understand the module enough to make the changes. @dvarnai, could you see if you can add an `iosSplashFileName` so people can use a different file for the splash screen?

[2020-11-24 22:27] jhull commented on #399
Thanks @RubenVanEldik for your help.

I ended up going with a manual solution as the module currently leaves out a bunch of device resolutions (as well as doubling them for portrait and landscape). I was using this `[pwa-asset-generator](https://github.com/onderceylan/pwa-asset-generator)` to generate them manually, but found the automatic solution lacking with the image/icon I was using.

What wo

[2020-11-24 22:28] dvarnai commented on #399
I'll take a look, I wanted to add support for such anyway, just never got around to do it.

[2020-11-26 11:52] ahurov commented on #393
same error @pi0
![image](https://user-images.githubusercontent.com/25090332/100347644-5e8db800-2fee-11eb-8807-7b255bca598d.png)
![image](https://user-images.githubusercontent.com/25090332/100347631-59306d80-2fee-11eb-98cf-36140ced09b6.png)
![image](https://user-images.githubusercontent.com/25090332/100347597-4cac1500-2fee-11eb-8597-9f73d55a70dd.png)

[2020-11-26 20:25] fabiofdsantos commented on #375
ping @pi0

[2020-11-26 22:10] cesswhite commented on #379
I have the same issue, when my proyect is deployed by netlify, doesnt generate the icons correctly. And if I change manually the icons for devices, PWA support doesnt work in iOS14

[2020-11-27 05:01] andrewspy opened #401 "Unable to detect update in sw.js out of the box"
This is a follow up to #239.

Since pwa-module always generate the same "sw.js" out of the box, and workbox is unable to detect the unmodified "sw.js", I think a note should be put in "Refresh to Update Notification" example in [pwa.nuxtjs.org/workbox](https://pwa.nuxtjs.org/workbox/#refresh-to-update-notification), i.e.

The simplest workaround would be to put a signature in `workbox.config`, how

[2020-11-28 14:22] pi0 commented on #401
Hi @andrewspy. Starting with [3.3.0](https://github.com/nuxt-community/pwa-module/releases/tag/v3.3.0), a revision (random per-build) is added to `sw.js`. I hope it fixed issue but if not please reopen.

[2020-11-28 14:22] #401 closed

[2020-11-28 14:24] pi0 commented on #396
Hi. This issue should be gone with [3.3.0](https://github.com/nuxt-community/pwa-module/releases/tag/v3.3.0).

[2020-11-28 14:24] #396 closed

[2020-11-28 14:24] pi0 commented on #381
Hi. This issue should be gone with [3.3.0](https://github.com/nuxt-community/pwa-module/releases/tag/v3.3.0).

[2020-11-28 14:24] pi0 commented on #372
Hi. This issue should be gone with [3.3.0](https://github.com/nuxt-community/pwa-module/releases/tag/v3.3.0).

[2020-11-28 14:41] pi0 commented on #393
Hi. I believe this issue should be gone with 3.3.0 refactors. Would be appreciated if can confirm :)

[2020-11-28 14:42] pi0 commented on #395
Hi. Issue should be solved with 3.3.0 :) (please reopen if not)

[2020-11-28 14:42] #395 closed

[2020-11-28 14:43] pi0 commented on #384
Hi @xrei. Actually more context is required to investigate more. But if it is not resolved with 3.3.0 please feel free to reopen with a reproduction link or code.

[2020-11-28 14:43] #384 closed

[2020-11-28 14:45] #393 closed

[2020-11-28 20:46] AkioSarkiz opened #402 "Add custom header to request"
Hello. I want add custom header to request. Can i make it?
Example:
i send request to server https://example.com with header Auth: true
is it possible?

[2020-11-28 20:53] pi0 commented on #402
Hi @AkioSarkiz i think it would be possible using http client (@nuxtjs/axios or @nuxtjs/http). How are you currently making requests?

[2020-11-28 21:02] AkioSarkiz commented on #402
@pi0 I use axios, but now browser auto send request. I am creating an img component and pasting a link. This image is protected and cannot be obtained without authorization.
Something like <img: src = "link>

[2020-11-29 00:12] andrewspy opened #403 "Invalid start_url with revision in v3.3.0"
v3.3.0 added random per-build revision to `sw.js` with invalid URL.

Actual start URL:  `/start_url&revision=xxxxxxxx`
Expected start URL: `/start_url?revision=xxxxxxxx`

Error in chrome as follow:

[code]

[2020-11-29 00:30] #403 closed

[2020-11-29 00:30] pi0 commented on #403
Thanks for report. Fixed in 3.3.1. BTW any reason customizing it?

[2020-11-29 00:51] andrewspy commented on #403
@pi0 It's working as expected now. Thanks!

In my use case, I need to change the route depending on the type of user (i.e. admin vs user).

[2020-11-29 11:07] AkioSarkiz commented on #402
i send request axios and encode response to base64. Put it to src attribute. Profit ~

[2020-11-29 11:07] #402 closed

[2020-11-30 11:10] simonmaass commented on #372
the issue is not gone in 3.3.0!

[2020-11-30 13:11] slntopp opened #405 "Handle icon.webp"
I'm getting fatal error(picrel), if trying to use webp image as icon.
[code]

<img width="571" alt="Screenshot 2020-11-30 at 13 22 13" src="https://user-images.githubusercontent.com/32666515/100614085-dc670180-3315-11eb-9842-22014f34e3fd.png">

[2020-11-30 13:25] pi0 commented on #405
Hi @slntopp. It is not possible yet since we need a more advanced library to support SVG and Webp formats. Please follow up #398

[2020-11-30 13:25] #405 closed

[2020-11-30 13:26] slntopp commented on #405
Got it, thanks

[2020-11-30 14:55] pi0 commented on #375
please try 3.3.x (https://github.com/nuxt-community/pwa-module/releases/tag/v3.3.0)

[2020-11-30 14:55] #375 closed

[2020-11-30 15:06] pi0 commented on #372
@simonmaass Seems regression was back since adding revision also to start_url as query. Would you please try 3.3.2?

[2020-11-30 15:35] pi0 opened #406 "don't precache start_url"
Since Lighthouse made it mandatory to respond to `start_url` when offline, we are pre-caching it ([3.2.1](https://github.com/nuxt-community/pwa-module/releases/tag/v3.2.1)). A build-time revision added by [3.3.0](https://github.com/nuxt-community/pwa-module/releases/tag/v3.3.0) / #386 but since it is build-time, cached version for `start_url` may get stalled with `target: 'server'`  since workbox

[2020-11-30 15:36] pi0 commented on #381
There is yet one more known issue tracking here: #406

[2020-11-30 15:36] #381 closed

[2020-11-30 15:43] jengel3 commented on #375
Can confirm that the above release fixes it!

[2020-11-30 16:24] simonmaass commented on #372
@pi0 yeh works now

[2020-11-30 16:58] Jandoria commented on #375
I don't get the console errors anymore but I still get this one from Lighthouse:
`no-response: no-response :: [{"url":"myurl"}] at Object.handle (https://cdn.jsdelivr.net/npm/workbox-cdn@5.1.4/workbox/workbox-strategies.prod.js:1:1883)`

[2020-11-30 17:21] pi0 commented on #375
@Jandoria please see https://github.com/nuxt-community/pwa-module/issues/176#issuecomment-665722983. There are many reasons no-response happens. It is basically when workbox cannot fetch the remote endpoint. If you have a public deployment i can try to investigate more..

[2020-11-30 20:18] pi0 opened #407 "skipWaiting prompt (offer a page reload)"
Workbox 6 provides a cleaner way for skipWaiting prompt ([docs](https://developers.google.com/web/tools/workbox/guides/advanced-recipes#offer_a_page_reload_for_users))

[2020-11-30 20:22] pi0 opened #408 "workbox 6 migration"
https://github.com/GoogleChrome/workbox/releases/tag/v6.0.0

[2020-12-01 18:07] Atinux opened #409 "Smart rebuild: Meta is not updated"
When doing smart rebuild, the correct manifest.json is generated but the HTML page does not have the correct <meta> src.

[2020-12-08 10:17] beneschjozsef opened #411 "Set up offlinePage not route offline requests to the specified path"
I tried with a new build after set up this in nuxt.config.js:
modules: [
    [
      "@nuxtjs/pwa",
      {
        manifest: {
          start_url: "/",
        },
        workbox: {
          offlinePage: "/offline.html",
        },
      },
    ],
  ],

I put the offline html in the static directory.
It is working properly offline, but not redirect to the offline.html when the page is offline.

[2020-12-09 12:53] tre-dev commented on #364
I'd need the same feature in order to change `background_color` and `theme_color` on runtime, based on whether the user has enabled dark-mode. Or is this already possible, @pi0? 🙏

[2020-12-14 12:13] Jandoria commented on #375
Sorry @pi0, I didn't see your response. I just tried with workbox clientsClaim: false and it worked for me. Thank you! :)

[2020-12-19 10:37] jbty opened #415 "The content is not updated for new releases"
hi,

First thanks for this amazing module !

I have a problem with my PWA [https://shirime.one](https://shirime.one) . When I release a new version the content is not updated when the PWA is installed on a device. :(

My config :

[code]

[2020-12-19 11:11] pi0 commented on #415
Hi @jbty. Checking [sw.js](https://shirime.one/) there seems to be correct revision for `/?standalone=true` route (you can ensure that this value updates in next deploy). When `clientsClaim` is false, new service worker (with updated revision) will not be used until installed would you please try without disable it?

[2020-12-19 11:15] jbty commented on #415
@pi0 Tanks for your answer ! I try with clientsClaim and I give you a feedback.

[2020-12-19 11:49] jbty commented on #415
When I set clientsClam to true  I got an error in browser:

[code]

[2020-12-19 11:53] jbty commented on #415
Here is my nuxt config (I deploy the project with clientClaims):

[code]

[2020-12-20 11:30] pi0 commented on #415
Hi @jbty. I see you reverted it due to comments in #176. Please see official comment from workbox maintainer https://github.com/nuxt-community/pwa-module/issues/176#issuecomment-665722983. Root cause of uncaught error is not clients Claim but disabling the option, hides the error. I would be happy to help debugging other issue by reverting or if you can somehow share project with me...

[2020-12-20 12:05] jbty commented on #415
@pi0 it would be magic if you could help me, because I am really lost with this problem :(
If I deactivate clientsClaim I no longer have an error, but when my game is loaded for the first time, if the user clicks on install "navigator.serviceWorker.controller" is not available, the problem disappears if we refresh the page . I give you access to my repo, if you have time to look at it, I thank you

[2020-12-20 12:30] pi0 commented on #415
Sure @jbty no worries maybe we could also came up with a solution for #176 :) Feel free also DM me in nuxt discord.

[2020-12-20 12:51] #415 closed

[2020-12-20 16:37] pi0 commented on #415
- Console error with `uncaught` error resolved with v3.3.0
- IOS error resolved by using [`mobileAppIOS`](https://pwa.nuxtjs.org/meta#mobileappios) option
- Caching issue resolved by not disabling `clientsClaim` (removing `clientsClaim: false` from config)

[2020-12-20 19:01] jbty commented on #415
Wooohouu ! thanks

[2020-12-20 19:22] jbty commented on #415
It's work, no errors logged, you are awesome !

![https://i.ibb.co/s5pJ8zJ/Capture-d-e-cran-2020-12-20-a-20-21-12.png](https://i.ibb.co/s5pJ8zJ/Capture-d-e-cran-2020-12-20-a-20-21-12.png)

[2020-12-23 20:59] edwh opened #418 "axios request stalled but has completed in service worker"
Apologies for the sparse diagnostics - this is an intermittent problem which I managed to capture on a user's machine and debug somewhat using teamviewer.

I have an axios request which appears stalled forever (for at least 15 minutes) in the main browser tab:

![image](https://user-images.githubusercontent.com/56696/103036146-f4225600-4560-11eb-9128-755aee967e6f.png)

...but it has completed succ

[2020-12-29 12:20] jollemannen opened #419 "Changing display value doesnt take effect on installed desktop pwa"
Hi!

I have an issue where i try to change the display value from standalone to minimal-ui.

My PWA detects an update but according to chrome://internals/web-app my PWA doesnt update the display value and keeps the old value.

Can the issue be that the manifest file changes name on each build? Because according to https://web.dev/manifest-updates/ it is not recommended to change name or location.

[2021-01-01 13:58] hermanos-lanches opened #421 "Getting stuck on a loading page using cacheAssets: false"
Every time I made a new build on netlify to update something on a page, I get stuck with an infinite loading loop.
I'm trying to create a pwa that refresh every time I open the app. I need it, so I configured the pwa module with cacheAssets: false, but I keep getting stuck on every update.

[2021-01-05 12:25] hermanos-lanches commented on #421
I resolved my problem in other way, but I guess it is valid to keep this issue open because this cacheAssets: false situation could be a thing. I don't know if this is an expected behave

[2021-01-07 19:20] #419 closed

[2021-01-12 03:47] vghernandz opened #422 "Setting service worker to exclude certain urls only"
Hi guys!!! require to be able to exclude from `firebase-auth-sw.js` some fetch url, something similar to this ...

[code]
I looked in the documentation but I did not find something that allows me to do it, [swTemplate](https://pwa.nuxtjs.org/workbox#swtemplate) it probably helps to do it but I don't know how to declare the code.

If there is a better way I would be very grateful 👍

[2021-01-13 17:50] ivodolenc opened #423 "Dynamically changing icons based on system mode (light/dark)"
Hi, it would be great if the module could provide some solution to dynamically change icons/favicons based on system mode.

[2021-01-14 13:24] homerjam opened #424 "icon: caching problem"
Hi,

As highlight by [this post on SO](https://stackoverflow.com/questions/63973637/why-does-nuxt-generate-with-nuxt-pwa-module-generates-always-default-icon-in) the module always displays the default icon.

I presume this is actually a problem with caching somewhere. I noticed there's a hash of some kind in the filename that goes into the manifest, what is this based on?

Thanks,
James

[2021-01-15 22:48] ivodolenc commented on #424
Maybe you just need to delete the `cacheDir` directory from `{rootDir}/node_modules/.cache/pwa/icon`

Try setting `icon` options like this:

[code]

After that, simply run `dev` server (`npm run dev` or `yarn dev`) and the `icon` should work as expected 👌

For more info, scroll down a bit to the [cacheDir](https://pwa.nuxtjs.org/icon/) section.

[2021-01-16 13:49] homerjam commented on #424
@ivodolenc Thanks! I think the problem is I have no way to remove the old cache directory with the default icon in Vercel. This is because Vercel caches the node_modules directory during build. But I can simply use a different path with the `cacheDir` setting 👍

[2021-01-16 13:49] #424 closed

[2021-01-19 17:04] voxivoid commented on #406
any news regarding this issue? every time we do a new deploy the start_url gets stalled and then we get a lot of loading chunk errors because it tries to access files that do not exist anymore on the server

[2021-01-21 13:01] renovate[bot] opened #427 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:07] #427 closed

[2021-01-21 19:19] vghernandz commented on #422
not finding a solution, I had no choice but to uninstall `@nuxtjs/firebase`

[2021-01-21 19:19] #422 closed

[2021-01-27 05:47] twnaing commented on #392
Manifest file accepts multiple entries for icons like this

[code]

But official [nuxtjs/pwa icon modules doc](https://pwa.nuxtjs.org/icon) only shows accepting one options for generating icons.

[code]

It does not describe how can we use with multiple icons.

[2021-02-02 09:01] fahdaddi opened #430 "start_url does not respond with a 200 when offline"
I'm using @nuxtjs/pwa "3.3.5" with nuxt "2.14.12". I ran the projecct with `nuxt build; nuxt start` (my build directory is: `.build`) and I'm using Nginx for local url redirection.
My config looks like:
[code]
When I run a lighthouse test I get the following errors in pwa module:
<img width="741" alt="Capture d’écran 2021-02-02 à 09 57 35" src="https://user-images.githubusercontent.com/23249370/

[2021-02-02 10:45] pi0 commented on #430
Hi @fahdaddi. Can you please try by removing `start_url` option?

[2021-02-02 10:49] fahdaddi commented on #430
Hey @pi0, for the `workobx`I found that all I need is default values? is there any vars that I should add ?

I'll try to add a local SSL certificate to test it with https

[2021-02-04 18:59] damianlluch opened #431 "Push notifications"
Hi everyone, I have a question.

Can I integrate Firebase push notifications with this library?

thanks!

[2021-02-06 00:54] jhull commented on #399
Wondering if you had any update to this...was working great until just yesterday - now I'm getting the blown-up icon again, instead of the nice slick splash screen.

[2021-02-08 07:18] Areskul commented on #24
Same issue in 3.3.5

[2021-02-08 13:19] Herbata-Sys opened #432 "Using meta: false causing manifest is not generating"
Version: 3.3.5
I don't want pwa module to override my default website title and meta tags so I am setting manifest property to false but then manifest.json file is not generating on build. Also i think another bug is that if manifest is not set to false it's title overrides nuxt.js title template.

[2021-02-13 18:12] narduin commented on #306
Hello,
did anyone find a solution?
Thanks :)

[2021-02-17 08:39] Mctony17 commented on #239
Please can you share a snippet on this?

[2021-02-19 18:18] diegomr86 commented on #24
I'm facing the same limitation (not problem). I configured nuxt like this:

[code]
With network off, when I access a previously accessed route without it works fine. But when i access a route that I never entered it gives me the offline error. No problem, this is the expected behavior.
What @matthewpull,  @ahus1 and myself whant is a place to define an array off routes (or all) that will be offlin

[2021-02-19 18:25] diegomr86 commented on #306
Facing the same limitation. It would be good to have a precachedRoutes option like this:
`precachedRoutes: ['/home', '/about', '/tasks']`

So when the user access any one of this routes in offline it will render even if the user never entered before on this route.

[2021-02-21 14:25] kyejune opened #433 "Not Using CustomUseragent Android Webview with PWA workbox"
Because some of the webpages I provide using Nuxt are used in the app,
When app load it with custom useragent.

Unfortunately, turn on Pwa's workbox function,
Defaults agent be com in instead of a customized useragent.

How should I fix it?

[2021-02-21 20:04] Ratatinator97 opened #434 "Cache API is caching image only if it's displayed in DOM"
Hello, I'm posting this here as I didn't got any answer on stackoverflow and think that it may belong here.
## Setup ##
@nuxtjs/pwa: ^3.3.3
nuxt: ^2.14.12

## Context ##
In my app every user can upload an image and view the uploaded images. (Sort of google photos). I wanted to implement an offline mode for my app.
For now, only the images **displayed** are getting **cached** : `<img class="image"

[2021-02-23 21:32] KierenBP commented on #409
Did you figure out a solution to this @Atinux?

[2021-02-24 22:42] jcardus commented on #239
you can use this: https://www.npmjs.com/package/webpack-version-file

[2021-03-01 11:28] tommcclean opened #435 "Nuxt Manifest publicPath does not change during runtime"
In Nuxt 2.15.2 the build/publicPath property is now evaluated during runtime which means we can use this to load assets from an environment specific CDN - thats great.

However while this works for assets, the manifest still comes from the publicPath as at the time of `yarn build` and is not evaluated during runtime.

It would be great if this would work for the manifest publicPath too, as otherwi

[2021-03-01 20:56] #434 closed

[2021-03-03 16:40] simonhrogers opened #436 "Lighthouse check repeatedly fails with same issues: name, start_url and maskable icon"
Firstly thanks so much for making this module.

Regardless of version, I’m getting the same errors flagged in Chrome’s lighthouse checks. I’m not sure what could be going wrong as I have even tried explicitly defining a name in my config, and there is definitely an `icon.png` in my static folder.

Although currently using `"@nuxtjs/pwa": "^3.3.5"`, I have had older versions in the past with the sa

[2021-03-03 16:41] simonhrogers commented on #436
https://www.becontreeforever.uk/projects/girls-like-us

The live site is here, if it helps verify. I’m running the lighthouse test in a private session to make sure no plugins are interfering.

[2021-03-03 17:16] simonhrogers commented on #436
I am using Nuxt in static mode, and this is how the manifest is currently generated, so yes something definitely failing:

[code]

[2021-03-04 17:02] #378 closed

[2021-03-05 15:03] #392 closed

[2021-03-06 23:05] cswkim opened #439 "Missing standalone url parameter for iOS"
I just upgraded to `3.3.5` from `3.0.0` and I noticed when I try to "Add to Homescreen" from iOS (`14.4`) Safari the url does not have the `?standalone=true` parameter appended any longer. Subsequently, the shortcut does not use my `static/icon.png` (uses a screenshot of the page instead) and the address bar is still there.

[2021-03-07 02:39] cswkim commented on #439
Nevermind, might have been some kind of caching issue? I checked again later and no issues.

[2021-03-07 02:39] #439 closed

[2021-03-08 15:34] bblanchon commented on #435
Related to https://github.com/nuxt/nuxt.js/pull/8520

[2021-03-09 08:12] avblink commented on #430
What I found is that self signed SSL is not going to be enough. Chrome will still complain that it is an insecure page and will not load sw.js file.

My solution is to run Chrome with the following flags from the command prompt on windows:
\'Program Files'\Google\Chrome\Application\chrome.exe --ignore-certificate-errors --unsafely-treat-insecure-origin-as-secure=https://localhost/

Hope this helps

[2021-03-09 08:34] avblink opened #440 "QUESTION - With nuxt generate, can I put sw.js file into a subdirectory?"
I'm serving my nuxt generated folder behind nginx proxy on a sub url. (https://localhost/preview)

Need to serve sw.js from a subfolder, alternatively need to give it a different name so it can be easily differentiated
by nginx proxy.

I tried with publicPath, but it still puts the sw.js file into the root of the dist folder.

Is there any way of achieving this?

Thank you in advance.

[2021-03-10 12:50] alekstar79 opened #441 "Updated offline detection logic"
#### Starting in Chrome 89, if the PWA does not provide a valid response when offline, a warning will be displayed. And starting in Chrome 93, if the PWA does not provide a valid response when offline, it will no longer pass the installability check.

Console output:
[code]

[2021-03-10 16:11] avblink commented on #440
Unfortunatelly, those didn't move/rename the file in dist folder. It stayed sw.js in the root of the dist folder

[2021-03-10 17:20] Ratatinator97 opened #442 "Runtime caching & CacheAPI not working"
## Setup ##
"@nuxtjs/pwa": "^3.3.5"
"workbox-cdn": "^5.1.4"
"nuxt": "^2.15.2"
## Context ##

My app, Pictalk, let users save and get pictograms. So basically every user has a custom set of pictograms. For now, it works only online but I want to implement offline-mode.

You can have a look at the git repo (I'm currently working in the `dev` branch): [click here](https://github.com/Ratatinator97/Pic

[2021-03-11 08:41] avblink commented on #440
Hi @farnabaz ,

thank you for taking the time to help me.

I think I was missing the 'resolve' bit. Now the file is in the right place, however, caching stopped working, i.e. the page is no longer accessible offline.

Lighthouse report shows 2 errors:
* Does not register a service worker that controls page and start_url
   _This origin has one or more service workers, however, the page (https://lo

[2021-03-11 10:58] RubenVanEldik opened #443 "Splashscreen"
The splash screen functionality does currently not work in my app. It generates a link tag without a URL:

```<link data-n-head="1" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" data-hid="apple-touch-startup-image-ipadpro2">```

This combined with the fact that it is not possible to add an image for the splash screen (

[2021-03-11 15:11] AlejandroAkbal commented on #239
**For anyone still wondering how to do this**

1. Create the following plugin
[code]

2. Add the plugin to Nuxt
[code]

3. Enjoy! 🎉

[2021-03-12 14:43] Ratatinator97 commented on #442
Turns out I wasn't declaring declaring the workbox module inside the pwa module i.e
[code]

[2021-03-12 15:31] Ratatinator97 commented on #442
it's now working only with my localhost backend and frontend (`localhost:3001` for the back and `localhost:3000` for the front) but not in the production configuration (I have my front at Vercel and host the back somewhere else...) As in production my frontt is at: `www.pictalk.xyz` and the back at `api.pictalk.xyz` I shouldn't have CORS issues...

[2021-03-16 00:15] Soviut opened #444 "BUG returning from nuxt/auth login flow causing ?standalone=true to appear"
We are using nuxt/auth to sign in with Auth0. Sometimes, when redirecting back from Auth0 to our `/callback` URL, they get redirected to their `/` home URL. At which point the `?standalone=true` gets mysteriously added to the querystring.

The home page appeared to be logged out, however, their cookies were all set correctly. Clicking the login button did nothing (it kept sending them to the page

[2021-03-16 04:19] cecurin commented on #431
Nope. For that please try: https://firebase.nuxtjs.org/

[2021-03-16 10:34] jbty opened #445 "Safari local fonts does not load on first visit with Nuxt 2.15.3, tailwind module 4.0.1 and Pwa 3.3.5"
I've created a nuxt pwa app, https://shirime.one, it's work well,
but I have an issue with Safari, sometime on first page visit my custom fonts are not loaded.

And on IOS if I install the PWA to the device my custom fonts is never loaded.

I have no idea where this could come from, can someone help me?

My nuxt pwa config:
[code]

My font faces:
[code]

My tailwind config:
[code]

My package.json

[2021-03-16 10:57] seybsen commented on #441
If I understand this correctly, you need to set at minimum an `offlinePage` for workbox settings, right?
https://developer.chrome.com/blog/improved-pwa-offline-detection/

[code]

[2021-03-19 12:42] jbty commented on #445
When PWA is installed with safari on IOS, if I connect the device to my macbook I dont see the fonts folder,. If I refresh the PWA from safari inspector It's work. It's seems nuxt pwa module can't load fonts folder when the PWA is installed with safari on IOS. I dont know why.

[2021-03-22 18:15] Ratatinator97 commented on #442
https://stackoverflow.com/questions/66505913/workbox-cache-not-used-by-img-tag

[2021-03-22 18:15] #442 closed

[2021-03-23 17:06] gavmck commented on #436
Looks like this might be related: https://github.com/nuxt-community/pwa-module/issues/432

[2021-03-24 11:44] jbty commented on #445
Hi, I solved the issue by creating a plugin that reload the page when new pwa version is released

Plugins folder
[code]

Nuxt config
[code]

Have a nice day

[2021-03-24 11:44] #445 closed

[2021-03-25 17:48] petrtichy commented on #443
I am experiencing the same issue. The only way to overwrite `apple-touch-startup-image` is by setting `icons` to `false`, and then handwriting all the icon-related links in the `head` object.

[2021-03-29 11:28] matamune94 opened #446 "automatically stores the paths of the specified page"
I need to save the pages in the specified path.
like:  '/' , '/post/', '/post/.*'
Once offline you can use the saved paths to continue using.

[2021-03-30 11:20] MSkred opened #447 "Network request for <URL> threw an error: Failed to fetch"
`"@nuxtjs/pwa": "^3.3.5", "nuxt": "^2.15.3",`
![Capture d’écran 2021-03-30 à 13 20 02](https://user-images.githubusercontent.com/17643602/112980841-ad915880-915a-11eb-8c32-8642c6fbfdb2.png)

Project url : https://herve.staging.letsgocity.be

[2021-03-31 08:20] MSkred commented on #447
This error block my notification request and then I can't received it.

[code]

[code]

[code]

**Package.json**
[code]

[2021-03-31 08:37] MSkred commented on #447
**All works fine with this packages version**

[code]

[2021-03-31 12:59] #447 closed

[2021-04-03 10:06] 4KDA commented on #439
what's the solution?

[2021-04-04 12:20] productfrontenddeveloper commented on #431
did you integrate ?

[2021-04-06 12:41] FreekVR commented on #441
It does seem that something is broken in the offline mode, or at least, in the way that Chrome now detects if it's working. As I understand it, `offlinePage` shouldn't be needed if the route being served offline (generally the homepage) has been (pre-)cached by workbox.

So either the chrome check is running before this caching has occured, or something else is wrong. In my case, the URL being che

[2021-04-09 16:41] MicahDavid opened #449 "Chrome warning: Site cannot be installed: Page does not work offline."
I am receiving the following Chrome warning:

Site cannot be installed: Page does not work offline. Starting in Chrome 93, the installability criteria is changing, and this site will not be installable. See https://goo.gle/improved-pwa-offline-detection for more information.

Do I need to do something specific in the pwa configuration to make sure I have offline compatibility to please Chrome stan

[2021-04-09 21:30] MicahDavid commented on #449
When I configured to create manifest and icon, the issue went away.  Did not work without enabling icon module.

[2021-04-10 15:10] LloydTao commented on #449
Hey, there! I wrestled with this same bug today and successfully resolved it. Hopefully it's the same fix for you.

![image](https://user-images.githubusercontent.com/41923457/114273770-579e9980-9a13-11eb-9d91-8cd42299bc31.png)

## Fix

My issue was this line in my manifest:
- `"start_url": "/",`

Which should have been:
- `"start_url": "/?standalone=true",`

After implementing this change (https:

[2021-04-12 00:22] LloydTao commented on #436
### Start URL

You have `start_url: '/'`, and need `"start_url": "/?standalone=true"` instead.

This fix worked for me, documented in https://github.com/nuxt-community/pwa-module/issues/449 and implemented in https://github.com/LloydTao/lloyd.cx/pull/15.

### Maskable icon

This should be in your manifest:

[code]

Of course, you'll need `maskable_icon_x192.png` in your `static/` directory too.

[2021-04-12 05:09] CavalcanteLeo commented on #449
same error here

[2021-04-12 05:09] CavalcanteLeo commented on #444
same here

[2021-04-14 09:35] skyrpex commented on #409
@KierenBP this worked for me:

- Clear the `.nuxt` directory
- Clear the `dist` directory
- Clear the `node_modules/.cache` directory
- Run the build again

[2021-04-14 20:21] frederic117 opened #450 "pwa module with truepush"
Hello
I would like to know how to integrate truepush with pwa module.
Anybody try to do this ?
https://www.truepush.com/blog/how-to-guides/truepush-integration-with-pwa-sites/
Thanks for help

[2021-04-15 14:04] rinu opened #451 "Precache issue after new build"
To my understanding the precache feature of workbox works as a cache first, not a network first. If not, the following is nonsense.

Every time I make a new build of my project and deploy it live, users have errors because assets could not be found.
It's difficult to pinpoint the issue but what I think is happening is the homepage (start_url) is being precached. So a request is never made to the s

[2021-04-15 15:51] ShadowfaxRodeo opened #452 "How to switch off favicon?"
In the documentation it's not clear how to remove this code from the markup:

[code]

I've tried the following options:

[code]

[code]
Is there a way to do this that I haven't understood?

The reason I'd like to remove the favicon from my markup is actually something to consider. By default all browsers (except for seamonkey) in the absence of a `<link rel=icon>` look for a `/favicon.ico` at the

[2021-04-19 10:38] jezmck commented on #411
Same here, any advice anyone?

[2021-04-19 11:07] jezmck commented on #441
Any updates?

[2021-04-19 14:44] rinu commented on #451
For some reason removing precaching worked now. It would be nice if there was an easy way to just disable all precaching.

[2021-04-20 13:33] trygveaa commented on #387
Hm, that didn't work for me, but setting `head.title = ''` seems to work. Thanks.

[2021-04-20 13:33] #387 closed

[2021-04-21 09:29] FreekVR commented on #406
Yeah, we're having this problem too, it seems there's still some nuxt hydration going on on page load, but no new data is being loaded from fetch() etc. so we're getting stale data on the homepage until the next deployment. The default ?standalone=true just moves the issue to that route instead, in that case anyone who has installed it as a PWA will get a stale homepage most of the time.

[2021-04-21 12:25] rinu commented on #451
As a temporary workaround I have reverted to using version 3.2.0.

[2021-04-23 08:37] FreekVR commented on #451
Related to network first support also listed in #406

[2021-04-23 09:37] forbesg commented on #443
I was suffering from the same issue with using my own splashscreen images.

I found that adding the hid key to the link object with the value matching that generated by the module, the modules link tags were not generated.

Icon module is enabled and working as expected.

I am using @nuxtjs/pwa v3.3.4

[code]

[2021-04-23 14:38] rinu opened #455 "Disable manifest and meta"
I would like to use this project just for the service worker and nothing else.
The manifest and meta information need to be custom and change at runtime for my project.

There doesn't seem to be any way of doing this at the moment.
Should this project be split up into seperately installable modules?

[2021-04-24 09:12] Rigo-m commented on #24
@pi0 any news on this?

[2021-04-26 16:21] beatriznbarroso commented on #411
Does anyone have any recommendations on how to tackle this?

[2021-04-27 02:18] jtlindsey commented on #424
Just in case anyone else has this issue, make sure your icon.png is 512x512 and you should be good after following [this answer](https://github.com/nuxt-community/pwa-module/issues/424#issuecomment-761237302) since it's automatically generating icons ([ref](https://pwa.nuxtjs.org/icon/)) and in my case appeared to not generate the larger icons because my icon.png was very small.

[2021-04-29 17:52] AllanOricil commented on #239
Sorry, do we need to add the plugin or is it added out of the box? Did not understood

[2021-04-29 21:51] AlejandroAkbal commented on #239
You have to manually create it.

Look at @devCrossNet commit in the following link.

https://github.com/vuesion/vuesion/commit/afd133df394e5aab5fd79e78451bce5cce377d81

[2021-05-01 03:11] shadow81627 opened #457 "meta module og url does not match nuxt i18n canonical"
I have to manually add the nuxt i18n canonical url to og:url meta on my default layout.

https://github.com/shadow81627/daim/pull/957

![developers facebook com_tools_debug__q=https%3A%2F%2Fdaim dev%2Fblog%2Fsetup-windows-subsystem-for-linux](https://user-images.githubusercontent.com/21211734/116769333-a376b880-aa7e-11eb-9582-d76f5675e939.png)

[2021-05-02 15:49] jezhodges opened #459 "Workbox: custom plugin"
Workbox talks about being able to use [custom plugins](https://developers.google.com/web/tools/workbox/guides/using-plugins#custom_plugins) however this doesn't seem possible in this library as it overwrites any plugins with it's own logic https://github.com/nuxt-community/pwa-module/blob/main/templates/workbox/sw.js#L79

Is it possible to create custom plugins at all or do we need to refactor thi

[2021-05-13 08:58] TaeyoonKwon opened #461 "Nuxt app does not update after removing @nuxt/pwa"
I have removed npm package by npm remove @nuxt/pwa and all the configs from nuxt.config.js file.

However, it seems the site does not update and is still pwa unless I completely remove cache from the browser.

Is there anyway I can force update the app?

[2021-05-16 04:53] jetlej commented on #399
+1

[2021-05-17 08:18] michalzaq12 commented on #379
Same issue. Running `nuxt generate` with `static` generates the manifest file but it is not linked in html head.
I also confirm that locking to 3.0.2 fixed it.

[2021-05-18 21:43] ratherblue commented on #455
You can disable the individual modules with `false`.

from the docs:

[code]

More info here: https://pwa.nuxtjs.org/setup#configuration

To disable the manifest and meta you can do this:

[code]

[2021-06-01 08:55] retroriff commented on #457
I've got the same issue.

[2021-06-02 11:00] Cosbgn opened #463 "Dynamic start_url"
Hello, I have a use case where the user has several dashboards, like: `example.com/dashboard/_random_dashboard_id`
I would like them to be able to install each dashboard separately as a pwa. Is it possible to setup the current url as start_url? So that when they are at /dashboard/12345 and install the app it would go there?

[2021-06-02 15:51] lopermo opened #464 "PWA module not working with OneSignal module"
I can't make both modules to work, I always have the same problem and even if I receive the notification to subscribe, I'm not actually subscribed in OneSignal, so I can't make it work in any way:
<img width="1179" alt="Screenshot 2021-06-02 at 17 48 46" src="https://user-images.githubusercontent.com/11388254/120511551-cc1a0700-c3ca-11eb-9db4-a907f633d55e.png">

[2021-06-04 12:00] apgapg opened #465 "Workbox script not loading"
I am facing error below when enable PWA module:
Any Help?
<img width="711" alt="Screenshot 2021-06-04 at 5 29 22 PM" src="https://user-images.githubusercontent.com/13887407/120798081-783e2800-c55a-11eb-8854-85756c1cee87.png">

[2021-06-07 12:50] MicahDavid opened #466 "workbox listener creating self.setTimeout() error"
I have the following method to check for new service worker updates:

[code]

The addEventListener('installed') is creating the following error:

Uncaught TypeError: self.setTimeout is not a function
    at ServiceWorker.r.S

This is what the javascript code looks like:

[code]

Any suggestions on this error?

[2021-06-10 05:46] artrayd commented on #431
https://firebase.nuxtjs.org/service-options/messaging/

I'm working on it right now, it's has bug with double notification - to avoid this need to use firebase functions, very complicated.

https://github.com/nuxt-community/firebase-module/issues/536

[2021-06-10 05:49] artrayd opened #467 "Can't add custom service worker"
Doing same as in tutorial

[code]

[code]

And nothing in console..

[2021-06-10 12:27] danielroe opened #468 "icon generation is not awaited"
`.nuxt/dist/client` may not be fully populated after build stage, and any other module/process may miss the `icons/` folder

[2021-06-11 19:40] cioraneanu commented on #24
I'm facing the same exact issue with unvisited routes not being cached.
I'm also using some dynamic routes(model/_id) and those never get cached... :/ Any ideas how to get around this?

[2021-06-21 20:01] tdxius commented on #411
Same issue using `"@nuxtjs/pwa": "^3.3.4"` and `"nuxt": "^2.15.3"`.

`pwa: {
    manifest: {
      short_name: '...',
      name: '....',
      description: '....',
      lang: 'en',
      background_color: '#658361',
      theme_color: '#658361',
      start_url: "/?standalone=true",
    },
    workbox: {
      dev: true,
      enabled: true,
      offlineStrategy: 'StaleWhileRevalidate',
      o

[2021-06-22 13:17] AndrewBogdanovTSS commented on #447
@MSkred can you reopen this issue? I also get this problem. Your solution of downgrading `@nuxtjs/pwa` to v.3.0.0-beta.20 seems to be working but it's not a real solution since we need to understand what is really causing it. Have you tried something closer to the current 3.3.5?

[2021-06-24 10:08] baeteja commented on #24
Same issue here, no news?

[2021-07-01 12:10] filipsobol commented on #444
I encountered the same issue with our custom Auth0 integration. It seems to be caused by https://github.com/nuxt-community/pwa-module/issues/406.
As a workaround (mentioned in https://github.com/nuxt-community/pwa-module/issues/451#issuecomment-824019043), you can downgrade `@nuxtjs/pwa` to version `3.2.0` since pre-caching was introduced in `3.2.1`.

[2021-07-05 19:39] TheFoolishPupil commented on #467
Are you testing using the development server `yarn dev`? If so try with `yarn build` and then `yarn start`. As per the [docs](https://pwa.nuxtjs.org/workbox#enabled)

[2021-07-05 21:33] larzon83 commented on #443
I use pwa-asset-generator to generate my splashes. Just noticed some errors in w3 validator about missing `href` for some `apple-touch-startup-image` meta-tags. They are set by the nuxt pwa module. I thought, I made it stop doing it by setting
[code]
But there are still tags without href. By digging into the code, I found that this line is the culprit: https://github.com/nuxt-community/pwa-module/

[2021-07-09 13:07] mattcrn commented on #444
I have the  same problem with nuxt-auth. Downgrading as a helped as a workaround.

[2021-07-13 08:30] JohnMica commented on #461
perhaps you could add something like this to you `default.vue` layout ?
I know it did work for me.
[code]

[2021-07-19 23:14] ManusoGalan opened #470 "Can't deploy to Vercel"
Hello, it's my first time opening an issue, so I apologize in advance if I make any mistake defining the issue.

I've been building a small app and, even though the PWA module works on local, it's impossible to make it work when deploying to Vercel.

Currently I'm deploying to Vercel with the following configuration:

[code]

And in the nuxt.config.js, I've got the following regarding the PWA conf

[2021-07-27 06:50] agengdp commented on #394
any update about this ?

[2021-07-31 21:56] bryandonmarc opened #471 "How to enable `'Expiration'` plugin to set `maxAgeSeconds` for `/_nuxt/*` assets"
I can set the `maxAgeSeconds` for assets from other origins using the `'Expiration'` workbox plugin on `runtimeCaching.strategyPlugins`, however it does not work for same-origin assets. I have tried setting the `runtimeCaching.urlPattern` to `https://<MY_URL>/_nuxt/.*` and using the `'Expiration'` workbox plugin, but it produces an error. I have failed to find any other relevant property in the Wo

[2021-07-31 22:32] bryandonmarc commented on #471
The solution was inside `runtimeCaching` all along, you just need to not set the `urlPattern` property. I would guess you could also replace the default `CacheFirst` strategy by setting the `handler` property, though I haven't tested it. I suggest rewording the Workbox Module docs a bit better? It heavily implies that `runtimeCaching` is only used for third-party origins.

[code]

Closing this for

[2021-07-31 22:32] #471 closed

[2021-08-02 06:21] artrayd commented on #467
Hi @TheFoolishPupil thank you for your answer, I tried to do as you said and there is still no message in console :(

Created also a sample at codesandbox.io. Please tell me what I'm doing wrong :)

https://codesandbox.io/s/youthful-sound-ifdo1?file=/nuxt.config.js

[2021-08-02 14:15] homersimpsons commented on #306
Is there any news on this ?

Why this change has been made ?

How easy would it be to add a configuration option that would allow bringing back old behavior ?

[2021-08-04 14:05] M-Barari opened #472 "Install PWA app in desktop on a defined route"
Hi. It's more a question: how can I config pwa to ask users for installation in devices other than desktop and in desktop only ask on a specified route , e.g. `/mobile` ?

[2021-08-05 06:36] mimbo119 opened #473 "How to add a bottom navigation in PWA only?"
I want to add a back button which will be visible and actionable for pwa only, not the website.

[2021-08-05 06:49] mimbo119 opened #474 "How to add navigation panel in PWA only?"
I want add a back button which will be visible and actionable for pwa only, not the website.

[2021-08-05 07:05] #474 closed

[2021-08-05 12:55] homersimpsons opened #475 "Status of the Project"
Hello, this project seems to be the de-facto standard for building PWA with Nuxt.

It works pretty well but seems kind of abandoned (issues / pr start to pile up, no recent commits).

It seems that @pi0 is the only recent [contributor](https://github.com/nuxt-community/pwa-module/graphs/contributors).

I would like to know if the project is in "stand-by" waiting for nuxt3 release ? Or just abandon

[2021-08-09 03:49] quezadaesteban commented on #306
@narduin The only solution that is currently working for me is downgrading @nuxt/pwa to 2.6.0. That way it preloads the content within /_nuxt and it becomes accesible even if the user did not visit it before.

I get the new smart prefetching can make online websites feel quicker over time but it is really useless for out of the box offline experiences. Hope a configuration that addresses it can be

[2021-08-10 00:20] jhull commented on #475
I think it's pretty much abandoned until they get Nuxt 3 out (hopefully by Sept. 2021). I had an issue with Splashscreen Support last Nov, then figured out the trick was to remove the PWA module and do it all manually...then I forgot that was my solution in March of this year...and then I forgot AGAIN that the solution to getting the Splashscreen to work was not to use this module. 🤣

[2021-08-10 19:02] Aliaaaam opened #476 "sw.js generates everytime on nuxt static generate"
Service worker file (`sw.js`) generates everytime on nuxt static generate, even if webpack skipped.

Any ideas how to solve this issue?

[2021-08-10 19:16] Aliaaaam commented on #476
That's basically because new revison generate everytime, no matter if webpack skipped or not.

[2021-08-21 00:22] dbarjs opened #477 "Support for Nuxt Runtime configs"
It would be interesting to integrate with the Nuxt runtime.

#### **`nuxt.config.js`**
[code]

[2021-08-22 08:09] M-Barari opened #478 "Adding icons from external links"
Hi. I'm trying to add dynamic icon but have a problem. For icon i first check my env for favicon, if exist i use that (and my favicon might be from local `favicon.png` or from an external links like cdn or aws). if i haven't filled the env then i read from local. but the issue is it only load icons in defined path format (for me `src/static/favicon.png` because i changed srcDir)

so what should i

[2021-08-22 21:52] zatorck commented on #411
Any progress on that? I think this package isn't maintained any more?

[2021-08-25 05:38] M-Barari commented on #478
Hi @Atinux , tanx. Now I know why XD .
Actually I disabled icon and used manifest instead and it worked.

[code]

[2021-08-28 07:00] emechpi opened #479 "the app Auto update dosen't work !"
The nuxt / pwa application doesn't update when we change the application on the server, and user is had to remove installed app and add to home screen again to see the changes!

[2021-08-31 17:32] valentinoli opened #482 "Most package.json fields removed from environment in npm v7"
Hello fellow Nuxt contributors and developers!
I noticed that in npm 7, they have [reduced environment variables provided to lifecycle scripts](https://github.com/npm/rfcs/blob/latest/implemented/0021-reduce-lifecycle-script-environment.md). This means some of the defaults used in this module will not work with npm 7. Notably:

* `npm_package_description` used in the Meta and Manifest modules as d

[2021-09-02 03:30] Musashi-Sakamoto opened #484 "Workbox new version available even after reloading"
Hi I put this code in `created` funciton in **layouts/default.vue** to implement [Refresh to Update Notification](https://pwa.nuxtjs.org/workbox#refresh-to-update-notification)

Even after reloading the page, `event.isUpdate` returns `true`
[code]

I expected `event.isUpdate` to return `false` after reloading unless new versions of the site is available.
Is this an expected behavior or is there so

[2021-09-02 03:55] Musashi-Sakamoto commented on #484
Sorry it worked

[2021-09-05 16:49] 0x4139 opened #485 "Question: How do i trigger the showpopup in nuxt?"
Basically what i am trying to achieve is this but i can't figure out how to trigger the popup.
[code]

[2021-09-15 03:05] seonglae commented on #132
same issue happens in  v3.3.5

[2021-09-21 11:51] Patrick-Remy opened #487 "`lang` is not inferred of `head.htmlAttr.lang`"
If I configure the default language in nuxt's config `head.htmlAttr.lang`, it is overriden to `en` on static site generation. This is much confusing. Possibly it should first be checked if it's already configured and inherit this setting.

[2021-09-22 17:44] onhate opened #488 "Document request not being executed when coming from external link (Gmail)"
I'm facing this hard to track issue when I click on an external link that points to my application the page is loading a pre-cached version without checking the user authentication therefore it shows a 404.

It does not happens the same when I refresh the page or when a link does a 301 to my application, only when coming from external site link clicks.

I need help on troubleshooting why the docum

[2021-09-23 13:03] onhate commented on #488
hmm, interesting. Thanks for the valuable response @danielroe I'll follow up with updates on this issue.

[2021-09-23 13:14] onhate commented on #488
@danielroe you are a king! it was that, I changed my SameSite session cookie to from Strict to Lax and it works fine now! I owe you a 🍺

[2021-09-23 13:14] #488 closed

[2021-09-24 08:04] ram-you commented on #392
Hi @twnaing
Your remark is entirely relevant. Did you find a solution?

[2021-09-24 17:15] nathanchase opened #489 "Is there any way to disable precaching entirely?"
I am noticing that the module will assign a precache of our app's `/login` page, because the homepage `'/'` is behind an authorization wall (using [auth-module](https://github.com/nuxt-community/auth-module)).

So what happens is that the workbox precache storage tries to load the `/login` page instead of the homepage `'/'` and it throws a 500 error.

If I delete the precache file from Cache Stora

[2021-09-24 17:29] nathanchase commented on #489
My workaround to get precaching to not occur was to simply remove start_url entirely in my manifest:
`start_url: '',`

That prevented precaching, but the service worker still functions.

[2021-09-27 15:02] makovetskyinikita opened #490 "table bug mac air 2020 13.3"
![image](https://user-images.githubusercontent.com/86952089/134934280-8b9dbfaf-0823-4605-9bd4-4d1dccdef400.png)

[2021-09-28 06:24] yinfoyuan commented on #467
nuxt.config.js The server cannot be loaded after being modified

[2021-09-30 04:55] lkjimy commented on #452
I disabled the icon module just like you did. Try deleting the cache inside node_modules at `node_modules\.cache\pwa\icon`.

[code]

The reason for me was Chrome warning about the `[any, maskable]` purpose on every image. Generated all images myself and added them manually.

[2021-10-02 22:11] zatorck opened #491 "Disable hash in manifest file name"
Hello.

I'm implementing Trusted Web Activity in shoulders of my Nuxt app.

For this I need stable file name which isn't changing any time.

I can not find a way for doing it for now, so it's feature request I think.

Thanks.

[2021-10-06 08:51] BlackCrowxyz commented on #399
Same problem here!

`pwa-module version: v3.3.4`

[code]

I tired to override the default `icon.png` file but it didn't work an a giant icon appeared on splash screen of iPhone 😢

[2021-10-09 09:03] gmatkowski commented on #384
Have You found any solution to solve this issue?

[2021-10-12 13:44] hyrumwhite commented on #444
Experiencing this issue with @nuxtjs/pwa 3.3.5 as well

[2021-10-14 18:51] rvmourik commented on #24
Is there been anyone who configured this with success? Tried several approaches, but still no luck.

[2021-10-18 15:33] nkCreation opened #492 "State of this plugin with Nuxt 3 ?"
Hello,

What the support of this plugin in nuxt 3 ?
Can't manage to make it work in a fresh nuxt 3 app :(

Thank you 👍

[2021-10-22 17:14] rotsee opened #494 "Allow separate icon settings for maskable"
Almost always you want to have two different variants of your logo in your manifest: Maskable, and regular icons (see e.g. https://web.dev/maskable-icon/). In fact, Google Chrome will even warn developers when using the same version. The side effects of not providing separate icons are that icons _will_ look weird somewhere; On iOS, on Android, when adding a desktop shortcut to Gnome, etc, etc.

I

[2021-10-30 19:39] tommcclean commented on #435
Must have closed the wrong one, I had several related. Though I stopped using this module months ago

[2021-11-01 14:16] simplenotezy opened #495 "Infinite loading"
I discovered something peculiar after debugging an issue related to infinite loading after 4 refreshes.

**The problem**
After starting the dev server using `npm run dev` and refreshing the website exactly 4 times it would end up loading infinitely. It would stop at the "fetching document" in the network tab.

Even if you closed the tab and opened the window again, it would keep loading. Making it

[2021-11-02 10:04] HubUzername commented on #491
Did you solve it?

[2021-11-03 09:54] cdefy commented on #306
Hi there,

Having the same problem. Only visited routes are cached and I would like to have all routes precached. I'm using @nuxtjs/pwa v3.3.5 and by reading this thread I understood that a "solution" is to downgrade to v 2.6.0 but I'd prefer to find a way of making it work with the last version!

Did anyone find a solution? Thx!

[2021-11-03 10:38] podlebar commented on #485
layouts/default.vue

[code]

maybe?

[2021-11-04 06:08] cdefy commented on #411
Hi,

Same here. I had issues with making the module precache all routes ([#306](https://github.com/nuxt-community/pwa-module/issues/306)) so I thought well I'm gonna use the offline page instead. But that doesn't work either :(

[2021-11-09 11:05] hputzek commented on #492
Same for me, after including the plugin in `nuxt.config.ts` no error occurs, but also it seems like it's not loaded at all.

[2021-11-09 20:16] janwillemwilmsen commented on #485
I used this module to create the install-experience: https://github.com/pwa-builder/pwa-install
see example on [www.ikvergelijk.nl](url)(at bottom of screen)
Looks like there is a new pwa module from Microsoft: https://www.pwabuilder.com/
Don't think there are nuxt modules available. I just added the scripts in the head and somehow got it working.

[2021-11-11 15:52] darren-trottier opened #496 "Issue registering service worker from outside localhost"
PWA service workers will register when using http://localhost:3000

When using http://myipaddress:3000

Installability :

Page is not served from a secure origin
No matching service worker detected. You may need to reload the page, or check that the scope of the service worker for the current page encloses the scope and start URL from the manifest.

[2021-11-12 15:57] fisherspoons commented on #176
<img width="923" alt="Снимок экрана 2021-11-12 в 17 55 40" src="https://user-images.githubusercontent.com/54633510/141495900-164c8aba-2ba1-416f-b451-061bb101035b.png">

Can someone help fix the problem, errors appear sometimes. The version I am using
importScripts('https://storage.googleapis.com/workbox-cdn/releases/6.2.0/workbox-sw.js');

[2021-11-12 16:39] fisherspoons commented on #176
and this trouble with strategy for images I think

<img width="447" alt="Снимок экрана 2021-11-12 в 18 39 44" src="https://user-images.githubusercontent.com/54633510/141502355-98abd722-8360-4e4f-8caf-5cb36952f73e.png">

[2021-11-13 19:15] darren-trottier commented on #496
For anyone interested in a solution :
[Stack overflow topic](https://stackoverflow.com/questions/69933515/nuxt-pwa-register-service-worker-not-registering-outside-localhost/69957305#69957305)

[2021-11-17 10:38] Tragio commented on #492
Would be also awesome if workbox was updated to version 6 as it contains important features, fixes and typescript support 😃

[2021-11-22 13:17] chz opened #498 "Issue with @nuxtjs/pwa@3.3.5 >>> "_nuxt/manifest.0f2d95c2.json 404" not found on. server"
[code]

There is issue with @nuxtjs/pwa@3.3.5 with nuxt/bridge manifest file "_nuxt/manifest.0f2d95c2.json " not found on server.

![142496219-6050fdfc-1c93-46f9-96a2-5c6aec74742a](https://user-images.githubusercontent.com/3233370/142868341-ab57d7b4-06b8-4bbc-99a4-c7530c42828b.png)

Issue in nuxt bridge.In nuxt 2.15 its ok

[2021-11-22 13:21] pi0 commented on #498
@chz Do you have a deployment URL or repo i can check?  That would be helpful to discover bridge issue quickly!

[2021-11-22 13:23] chz commented on #498
Its a private Repo. Maybe i can show you on the link where it is has problem.

[2021-11-22 13:29] chz commented on #498
@pi0, Can you check https://mp-client-dev.umico.az/ i have opened for you for a one day.

[2021-11-22 13:30] chz commented on #498
@pi0, After checking please write here i must again close deployment url

[2021-11-22 13:30] chz commented on #498
@pi0 for reproduce just refresh page shift + command + r or hard reload

[2021-11-23 08:21] chz commented on #498
@pi0 any news?

[2021-11-29 09:51] Gaofancy commented on #498
You need config the 'publicPath'.
`
pwa: {
        manifest: {
            publicPath: process.env.API_ENV === 'production' ? '{your cdn}' : '/_nuxt/',
        },
    },
`

[2021-11-29 09:53] chz commented on #498
@Gaofancy i dont use cdn.

[2021-11-29 17:48] revenkroz commented on #498
I had the same issue but it was after updating to Nuxt 3. Solution: run `cp .nuxt/dist/client/manifest* .output/public/_nuxt` after build.

[2021-12-02 02:40] Gaofancy opened #499 "How icon config does support svg?"
`
pwa: {
  icon: {
    fileName: 'icon.svg',
  }
}
`
it doesnot work.

[2021-12-03 19:27] sanamiy opened #500 "Docs: Edit this page on GitHub link broken"
### **Edit this page on GitHub** button link breaks easily.

"@nuxt/content-theme-docs": "^0.11.1"

**Edit this page on GitHub** button links always break when create a document site with `@nuxt/content-theme-docs`  and the `/content` folder is directory belongs to the main directory.   **`~/content/*.md`**

case of failure: [https://pwa.nuxtjs.org/](https://pwa.nuxtjs.org/)
broken Edit this page

[2021-12-05 03:29] honeyamin commented on #309
hi did you solve this? i add shortcuts by myself to manifest file and start project without build(again) but it add it just to desktop chrome, doesnt work like dynamic shortcuts in java,
does use useWebmanifestExtension? may it help to android or its just for webmanifest?

[2021-12-05 06:37] NozomuIkuta commented on #500
FYI, as described in the issue linked above, I confirmed that the link is correct in local environment (i.e. `yarn run dev`).
So, it seems to be that the documentation site in production environment is not up-to-date for some reasons.

I don't know who is the maintainer of this repository, so let me ping to @Atinux. 🙏

[2021-12-06 17:02] Atinux commented on #500
We need to soon upgrade the documentation to Docus V2 or V3. We can keep this issue open in the meantime. (ping @tahul)

[2021-12-07 09:25] boneyfantaseas commented on #499
this is already addressed in #398.
Duplicate of #398

[2021-12-07 10:08] o1lab opened #501 "Bug : Frontend doesn't update even after a hard refresh"
- Below is the configuration of our nuxt and nuxt-pwa configuration.
- Nuxt pwa is recognising a new version available and we prompt user to do a hard refresh/reload.
- And on reload - new UI also starts to work.
- **However, if we open the site in a new tab. A spineer gets shown & the latest frontend fails to load. And again, a hard refresh is required.**
  - our frontend redirects to /dashboard

[2021-12-07 11:00] o1lab commented on #501
Added links to the code.

[2021-12-17 07:33] afaq-karim commented on #498
any update on this issue it's not working after upgrading to '3.3.5'

[2021-12-21 23:46] ghisleouf opened #502 "Cannot make pwa module work properly"
Hi guys,

I'm facing an issue about making this module work properly.
Currently, when testing with Lighthouse, it is saying "No manifest was fetched"

I setup the module very quickly with the following nuxt.config.js :

[code]

then adding the module into buildModule section:

[code]

and finally, some module dedicated config:

[code]

the config is pretty straightforward.

Am I missing something

[2021-12-22 00:03] ghisleouf commented on #502
Nevermind, after struggling a lot, it seems to be related to my Chrome browser which was not loading my manifest properly and failing Lighthouse test.

Sorry about that.

[2021-12-22 00:03] #502 closed

[2021-12-28 17:31] ilbonte opened #503 "Docs: documentation not clear"
What is the 'options.name' mentioned here: https://pwa.nuxtjs.org/meta#ogsitename

I can not find any "name" option in the config file: https://nuxtjs.org/docs/directory-structure/nuxt-config/

[2021-12-28 22:58] jaribu commented on #470
Hello, same issue here. You have find?

[2022-01-03 19:23] JorgenSQ opened #504 "Is there any plans on updating this to Nuxt 3?"
Any plans on updating this module to support Nuxt 3?

[2022-01-06 17:19] joshwcorbett commented on #504
There's currently another thread on this subject: https://github.com/nuxt-community/pwa-module/issues/492

[2022-01-08 15:31] BRIKSING commented on #394
Waiting for resolving this problem!

[2022-01-14 22:23] jareko999 opened #505 "Service worker exposes API keys"
It seems concerning the `firebase-auth-sw.js` file exposes API keys (displayed in the file and in dev tools). Is this normal? Is it safe to have this file in production? I can't seem to `.gitignore` the file... Here's my setup in my `nuxt.config`:

[code]

[2022-01-17 06:54] Gauss-G opened #506 "pwa.meta.description will overwirte my customized description"
After I enabled nuxt/pwa, it will overwrite my own meta description from the page.
If I set meta. description, it will set this value for a description
If I do not set meta. description, it will use readme file info as description.

enabled nuxt/pwa, set the meta description
![image](https://user-images.githubusercontent.com/78127437/149720974-962e15e3-e0ad-4017-82ad-59d6d534e726.png)

enabled nux

[2022-01-17 10:20] danielroe commented on #505
This may be helpful: https://firebase.google.com/docs/projects/api-keys

[2022-01-18 09:39] Gauss-G commented on #506
The default value for description is npm_package_description which is a little wired for users if they do not set any description value.

[2022-01-18 09:59] Gauss-G commented on #506
meta.ts
description: process.env.npm_package_description,
=》
description: undefined,

[2022-01-18 13:19] joerees commented on #494
It would be good if we can add multiple icon settings, as mentioned above to add maskable to specific sizes, not all

[2022-01-18 13:44] jareko999 commented on #505
Thanks. I guess as long as they are protected with security rules in firebase, exposing them isn’t a risk.

[2022-01-20 07:09] #506 closed

[2022-01-24 13:50] ARMS9 opened #507 "workbox returns undefined"
hi, im using nuxt with spa config for my application. I was trying to use this [tip](https://pwa.nuxtjs.org/workbox#refresh-to-update-notification) . but the statement 'await window.$workbox' returns undefined in some devices and some for some clients works fine. can anybody helps me ?
Thanks.

[2022-01-25 18:53] udit99 opened #508 "Nuxt/PWA app made with pwa-module triggers "screen recording indicator (red bar)" on iOS 15"
Hey all
I'm getting a strange bug where the PWA app I'm building is showing the red status bar on iOS 15.2.1 indicating that the app is recording screen or audio when in fact its doing neither.
![IMG_1009](https://user-images.githubusercontent.com/77560/151040015-523d141e-baa0-48f9-94f1-78af375aa06a.jpg)

Viewed on a mobile browser there is no red bar

[2022-01-27 21:40] udit99 commented on #508
nvm, this was a dumb mistake by me.

[2022-01-27 21:40] #508 closed

[2022-02-12 02:36] CodyBontecou commented on #492
Good old fashion bump of interest 🙏

[2022-02-24 06:47] SoftCreatR opened #509 "Self-hosted Workbox?"
I'm relatively new to Nuxt, and stumbled across this module, which works just fine so far.

However, for reasons (GDPR, ...) I would like to self-host Workbox, rather than using a remote CDN.

I found this documentation: https://pwa.nuxtjs.org/workbox#workboxurl

So I've installed the `workbox-cdn` package. But now, I'm stuck. What I tried was:

[code]

But that doesn't work (tries to call `http:/

[2022-02-24 07:28] SoftCreatR commented on #509
Follow up:

I've installed the package `recursive-copy-cli` and updated the scripts:

[code]

This seems to work, but it doesn't feel right.

[2022-02-24 13:22] rrrepos opened #510 "how to specify cache of specific routes"
I am using the pwa-module in a **static multiple routes** site. I would like only the home page to be cache and not the other routes. I am new to Workbox though in the past I have used vanilla service workers code. Currently, I have not set any module options for workbox

[code]

Thanks

[2022-03-06 05:24] apgapg opened #512 "All typing are not exposed in PWAOptions"
ManifestOptions, MetaOptions, PWAOptions, WorkboxOptions are not exported by default.
This makes them mandatory to use in nuxt.config.ts.

What I wanted is to separate out pwa options to a new file, but because above are not exported hence not able to use.

<img width="1096" alt="Screenshot 2022-03-06 at 10 52 52 AM" src="https://user-images.githubusercontent.com/13887407/156910391-eba80853-f14f-4

[2022-03-06 15:36] edwh opened #513 "Extreme network slowness, resolved by Cache Storage clear"
PWA version 3.3.2.

I've looked at a situation where network requests for Nuxt scripts during initial page load were extremely slow.  Using DevTools to bypass the service worker for network requests made everything fast.  Then I manually cleared Cache Storage and everything was back to normal (without that bypass setting).

I'm wondering if there might be an issue where the Cache can get so full o

[2022-03-10 15:45] #505 closed

[2022-03-17 03:35] otary opened #516 "How to test the installation and download of local localhost:3000 with chrome brower？"
After compiling, packaging and publishing, I can click on the URL bar of the Chrome browser to download, but the download button cannot be displayed in the URL bar in the local locahost:3000 state. How can I solve it?

[2022-03-22 20:25] lazyseals opened #517 "Error: ENOENT: no such file or directory, open '/tmp/build_c0584bd6/static/sw.js'"
Hey,

When I build my application via`nuxt build` in Heroku I see the following error message:

[code]

From my understanding the error occurs, because it tries to access the `sw.js` file from my previous build located at the path `'/tmp/build_c0584bd6/static/sw.js'`. However, as Heroku creates a new isolated instance for every build/deploy (ref: https://stackoverflow.com/questions/17289459/heroku

[2022-03-24 20:39] anthonysette commented on #399
+1

[2022-04-06 08:48] sethidden commented on #358
Heads up that if you're getting this error in your local dev environment after doing something with the icons (ie. adding a static/icon.png file), try removing node_modules and reinstalling them again.

I assume there's some postinstall hook that generates those

[2022-04-09 17:24] changemyminds commented on #306
I have the some problem in @nuxtjs/pwa v3.3.5 too, so I fixed it, refer to v2.6.0 code.
Here is the snippet code. I think maybe this will help somebody.

1. copy the `sw.template.js` from @nuxtjs/pwa/template/workbox/sw.js into your root folder and add some code.
[code]

2. Create the `sw-generate.ts` in your plugins folder and use it overwrite `sw.js` when nuxt generate done.
[code]

3. Modify yo

[2022-04-13 19:37] RodrigoReyes-vw commented on #24
same I cannot get it to work, I got the router to respond, but does not know what to do with the route

[2022-04-14 16:39] chrissyast opened #520 "Can't detect new builds locally"
I'm trying to follow the implementation of reloading on a new build, specifically in this comment:

https://github.com/nuxt-community/pwa-module/issues/239#issuecomment-796807081
<details>
<summary>Code repeated here</summary>
**For anyone still wondering how to do this**

1. Create the following plugin
[code]

2. Add the plugin to Nuxt
[code]

3. Enjoy! 🎉

_Originally posted by @AlejandroAkbal in

[2022-04-17 00:26] Fabioni commented on #491
As easy as just changing this line
https://github.com/nuxt-community/pwa-module/blob/79322c18a28456a02ef0c3c596dff6cd88389f59/src/manifest.ts#L38

[2022-04-19 12:32] Ratatinator97 commented on #421
Hi @hermanos-lanches I'm facing the same problem as you before. Could you please tell me how did you solve the problem ? I also get stuck on every update in an infinite loop !

[2022-04-21 12:09] chrissyast commented on #239
The above solution only works when the user loads/reloads the page, which seems to defeat the purpose.

#### plugins\sw-update.js
[code]

#### nuxt.config.js

[code]

[2022-04-21 12:10] chrissyast commented on #520
The code from the comment linked only works when the user loads/reloads the page.

#### plugins\sw-update.js
[code]

#### nuxt.config.js

[code]

[2022-04-21 12:10] #520 closed

[2022-04-22 10:03] vervelover commented on #432
I found a solution for this, you need to set this meta tag:

`{
          hid: "apple-mobile-web-app-title",
          property: "apple-mobile-web-app-title",
          content: your-meta-title-here
        }`

[2022-05-03 09:30] chsami commented on #498
By default IIS (and so the Azure App Service) doesn't serve .json files. You need to enable this feature in your web.config. If don't already have one, create it in the root directory.

More information can be found on this post: https://stackoverflow.com/a/52206106

[2022-05-03 18:04] afaq-karim commented on #498
Thank you I've figured it out a way before the problem is in my configs

On Tue, 3 May 2022, 14:31 Sami Chkhachkhi, ***@***.***> wrote:

[2022-05-06 11:40] klickparkdominik commented on #306
Experiencing the same issue.

Thank you so much for your effort @changemyminds, this helped me a lot!

[2022-05-10 20:28] sillvva commented on #492
It looks like the built-in feature is related to the meta module, but I see nothing regarding the manifest module.

[2022-05-10 21:30] igorjacauna commented on #492
Maybe vite-plugin-pwa will help with this: https://vite-plugin-pwa.netlify.app

[2022-05-12 09:19] honarmandpooria commented on #411
any one solve this?

[2022-05-12 12:02] Andrevoks commented on #384
still have same issue with start page

[2022-05-12 15:15] changemyminds commented on #24
@RodrigoReyes-vw  I have the same problem and fix it. You can see the [issue](https://github.com/nuxt-community/pwa-module/issues/306#issuecomment-1094089659). I hope it is useful to you.

[2022-05-14 00:07] kevinmarrec commented on #492
I suceeded to implement PWA in my Nuxt 3 website :

https://github.com/kevinmarrec/marrec.io/pull/239
https://marrec.io

These are likely the first steps for the next iteration of Nuxt PWA module.

My local implementation in my website is really basic, but it does work.

[2022-05-19 12:44] korchaka666 commented on #406
Guys, how did you solve this problem? And if so, how?

[2022-05-20 15:34] mathix420 commented on #406
@korchaka666 I managed to find a workaround that seems to work fine for me.

I have created a plugin: `~/plugins/pwa-update.js`
[code]

In `nuxt.config.js`:
[code]

The modal:
[code]

It's a bit harsh as the whole project is reloaded, but it's working. 🤷

[2022-05-21 11:06] cingh-jasdeep commented on #464
https://github.com/nuxt-community/onesignal-module/issues/33#issuecomment-1133600883

[2022-05-27 14:25] poloop opened #524 "Can I set related_applications and prefer_related_applications to the manifest?"
Hello,

Is that a way to set `prefer_related_applications` and `related_applications` properties of the manifest?

[2022-05-27 16:27] isuke01 commented on #239
Ok so there is my problem.
[code]
It reloads page but it is still old version. BUT the update notification is not shown at this point.
So next step is again manual reload page - oh now there is new version of the app.
What is wrong ? :D

[2022-05-29 09:11] artrayd commented on #411
I found workaround solution for this:

Adding custom service worker:

[code]

Then add offline service worker into 'static' folder
[code]

That worked for me :)

[2022-06-16 21:55] deeneshchowdhary opened #526 "Is there way to replace the pwa icon that has already been added before?"

[2022-06-16 21:57] deeneshchowdhary commented on #516
Hi @otary ,  I believe you will also need https for the pwa to work. I have had the same issue. But once you deploy the app to a domain with https, you will get the download option in chrome.

[2022-06-20 00:45] otary commented on #516
thanks

[2022-06-20 00:45] #516 closed

[2022-06-27 19:48] mdjamilaj commented on #498
Simple run the below command. I fixed the same issue using the below command

`rm -rf dist && rm -rf node_modules && rm -rf package.lcok.json && npm i && npm run build`
After you just restart your server. I restart my pm2 server using the below command.

`pm2 restart client`

[2022-06-29 08:55] Tragio commented on #444
Having the same issue with the latest PWA and Auth modules. Since I'm using a custom manifest I fixed it by removing `'start_url'`.

[2022-06-29 08:55] Tragio commented on #489
Having the same issue with the latest PWA and Auth modules. Since I'm using a custom manifest I fixed it by removing `'start_url'` line.

[2022-06-29 09:36] gavmck opened #527 "runtimeCaching urlPattern and pagesURLPattern only accept strings"
The `urlPattern` in `runtimeCaching` and the `pageURLPattern` option, both only accept strings.

The docs for pagesURLPattern suggest it accepts either a string or a RegEx, but this does not work.
There are no examples for a runtimeCaching object other than under "Adding custom runtimeCaching items for CDN".

Workbox itself accepts RegEx, string or match function.

[2022-07-04 15:09] BlackCrowxyz commented on #479
Take a look at this link:
https://pwa.nuxtjs.org/workbox/#refresh-to-update-notification

[2022-07-28 12:01] ASoldo commented on #475
Hi, Is there any news regarding Nuxt3 and pwa module?

[2022-08-01 02:56] #526 closed

[2022-08-09 11:43] loghinteodorlow opened #528 "Blank page when opening the application as PWA on mobile"
Hi all,

I'm receiving a blank screen and the following error in the console when I try to open my application as a installed PWA on mobile:
[code]
Here is my package.json file:
[code]

And here is the PWA config from nuxt.config.js:
[code]
I'm also mentioning that the start_url requires the user to be logged in (I'm using nuxt/auth for the authentication system) and that it works flawlessly when

[2022-08-25 09:11] shtse8 opened #529 "Is this project dead?"
I am using nuxt3 and searching pwa module. Discovered here but it seems this project is dead for nearly two years.
Is it still under maintainance?

[2022-08-30 23:12] christophheich commented on #529
As stated [here](https://v3.nuxtjs.org/community/roadmap/#%EF%B8%8F-roadmap) this will be replaced with a built-in version in nuxt 3.

[2022-09-16 14:56] toniengelhardt commented on #306
Thanks @changemyminds 🙏🏽

For some reason not all components in my project get pre-cached, e.g. from the following items in the `/components` dir

![Screen Shot 2022-09-16 at 15 48 57](https://user-images.githubusercontent.com/2703233/190667836-93f7e61f-c1b6-4103-8c71-c175f50365fd.png)

these are not getting pre-cached:

[code]

Any idea why?

[2022-09-28 13:48] rttmax commented on #411
+1

[2022-09-28 15:00] changemyminds commented on #306
@toniengelhardt Could you reproduce your project or code ?

[2022-09-28 16:23] toniengelhardt commented on #306
@changemyminds unfortunately no, it's a quite large private project. But there is really nothing special about it that should have an impact on this...

[2022-10-02 00:56] vedmant opened #531 "Any way pre generate icons before deploying and use custom urls?"
I'm using serverless deployment and deploy static folder to and S3 bucket, so my labmda function is only serving SSR rendered content, when all static data is loaded from buckets.

However I can problem with this module, it generates icons in the nuxt dist folder, which my lambda function can't serve.

So I need somehow to make this plugin to generate icons in the static folder on build and update

[2022-10-19 09:55] larsdouweschuitema commented on #353
This worked for me, thank you. 💯

[2022-10-25 12:07] NtchPlayer opened #532 "[h3] [unhandled] next is not a function (Nuxt/Bridge - Nitro 6.0.0)"
Hi,
Like @danielroe has demand, I open an issue for error [h3] [unhandled] next is not a function (https://github.com/nuxt/bridge/issues/592).

**Environment**

- Operating System: `Darwin`
- Node Version:     `v16.15.0`
- Nuxt Version:     `2.15.8`
- Nitro Version:    `0.6.0`
- Package Manager:  `npm@8.19.2`
- Builder:          `webpack`
- User Config:      `telemetry`, `env`, `server`, `nitro`,

[2022-11-01 16:32] Migushthe2nd commented on #494
Purpose `"maskable any"` is actually discouraged and rejected by tools like www.pwabuilder.com.

Check out https://github.com/pwa-builder/PWABuilder/issues/2379

[2022-11-07 15:01] 4tech-garp commented on #299
Thanksç for yoủ sharing, but Can you explain what is the '482941778795' mean in gcm_sender_id: '482941778795'?

[2022-11-09 09:24] ahmadmobaraki commented on #312
Any update on this? This seems to be a very basic need.

[2022-11-10 13:38] TapanDerasari commented on #306
@changemyminds ,I am having the same issue and I tried the snipped you provided above but **4.Execute npm run build, the dist/sw.js generate result will like this**

Not able to see the cached files or routes in my sw.js file.

Any idea ?

Thanks in advance.

[2022-11-10 22:07] TheMangoTrain commented on #520
Ok... and the code you've provided addresses this?

[2022-11-11 07:03] chrissyast commented on #520
Yes

[2022-11-22 07:18] TapanDerasari commented on #176
I tried the above solutions but the issue is still appears.

Does anyone found the solution?

[2022-11-29 22:17] artrayd opened #536 "How to add required properties"
I want to add following properties:

orientation: 'portrait-primary',
display_override: 'fullscreen',
display: 'fullscreen',

And some icon with "purpose: any", according to requirements.

Here is code of my manifest file:
[code]

And here is what I get:
[code]

No matter what I do, the output is always the same..

 If I set icon: false, so manifest is not generated.. Each time I need to wait 20 m

[2022-11-29 22:34] artrayd commented on #536
Also if I set icon to false, so manifest file is not generated at all...

[2022-11-30 06:59] artrayd commented on #536
Finally I found that manifest.json is not generating and I need to edit it manually.

[2022-11-30 06:59] #536 closed